.story {
  text-align: right;
}

.story .h1 {
  font-size: 30px;
  color: blue;
  text-decoration: underline wavy #f00 2px;
}

.story .h2 {
  font-size: 20px;
  color: blue;
  text-decoration: underline wavy green 1px;
}

.story .aya {
  color: royalblue;
}

.story .allah {
  font-size: 25px;
  color: blue;
}