body,
html {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #d9baa5;
    height: 100%;
}

@font-face {
    font-family: "hafs";
    src: url("../fonts/UthmanicHafs1Ver18.woff2") format("woff2")
}
@font-face {
    font-family: "wahran";
    src: url("../fonts/ArbFONTS-Wahran-Light.otf") format("woff2")
}

#wrapper {
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
}

.ayaAr {
    font-size: 1.35em;
    direction: rtl;
    font-family: hafs !important;
    font-weight: 700;

}

.ayaFr {
    font-size: 1.15em;
    direction: ltr;
    font-family: hafs !important;
    font-weight: 600;
}

.ayaBox {
    background-color: white;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 13px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(148, 132, 116, 0.75) 0px 5px 15px;
}

#navigation {
    min-height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aya-select {
    text-align: center;

}

#soura-select {

    /* margin: 0 10px;
    direction:rtl;
    padding: 5px 0;
    width: 150px; */
    /* font-size: 1em; */
    /* text-align:center; */
    /* font-size: 1em; */
}

#aya-select,
#soura-select {
    font-size: 14px;
    margin: 0 10px;
    width: 150px;
    direction: rtl;
    padding: 8px 0;
    border-radius: 10px;
    /* font-weight: 400; */
}
#safha-select, #tafsir-select{
    font-size: 14px;
    margin: 0 10px;
    width: 150px;
    direction: rtl;
    padding: 8px 0;
    border-radius: 10px;
}
/********************AUDIO********************/

#player_wrap {
    background-color: var(--bg3) !important;
}

.jp-audio {
    background-color: var(--bg3) !important;
}

.jp-audio .jp-controls {
    background-color: transparent !important;
}

.jp-audio .jp-progress {
    background-color: transparent !important;
}

.jp-audio .jp-progress .jp-seek-bar {
    background-color: transparent !important;
}

.jp-audio .jp-progress .jp-seek-bar .jp-play-bar {
    /* background-color: #071d2c !important; */
    /* background-color: #836704 !important; */
    background-color: #2f5635 !important;
}

.jp-audio .jp-duration {
    background-color: blueviolet !important;
}


#player_wrap {
    /* height: 7%; */
    /* height: 10%; */
    height: 8%;
    background: #003193;
}

.player_info {
    display: block;
    vertical-align: middle;
    background: #003193;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    font-size: 1em;
    line-height: 3em;
    text-align: center;
    pointer-events: none;
}




.jp-audio .jp-controls {
    background-color: transparent !important;
}

.jp-audio .jp-progress {
    background-color: transparent !important;
}

.jp-audio .jp-progress .jp-seek-bar {
    background-color: transparent !important;
}

.jp-audio .jp-progress .jp-seek-bar .jp-play-bar {
    /* background-color: #071d2c !important; */
    /* background-color: #836704 !important; */
    background-color: #2f5635 !important;
}

.jp-audio .jp-duration {
    background-color: blueviolet !important;
}
 /* ADDITIONAL */
 @media screen and (min-width: 550px) and (max-height: 500px) and (min-height: 250px){
    #for-hizb{
        top: 20%;
    }
    #player_wrap{
        height: 18%;
    }
    .swiper-container{
        height: 82%;
    }
    .jp-controls, .jp-stop,.jp-current-time, .jp-duration{
        line-height: 66px !important;
    }
  }


  .jp-audio {
    width: 100% !important;
    border-radius:12px 12px 0 0 ;
}

 
#player_wrap {
    /* height: 7%; */
    /* height: 10%; */
    height: 8%;
    background: #003193;
}

.player_info {
    display: block;
    vertical-align: middle;
    background: #003193;
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    font-size: 1em;
    line-height: 3em;
    text-align: center;
        pointer-events: none;
    display: none;}
    
:root {
    --bg: #8d5e1a;
}
#audio-box{
    background-color: var(--bg) !important;
    min-height: 50px !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(8.5%);
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#play-box{
    width: fit-content;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
}
#play-pause{
    width: 22px;
}
#player_wrap {
    background-color: var(--bg) !important;
    min-height: 50px !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(8.5%);
    border-radius: 30px 30px 0 0;
    display: none;
}

.jp-audio {
    background-color: var(--bg) !important;
}
#soura{
    overflow-y:scroll;
}
body{
    /* display: flex;
    flex-direction: column; */

}
#wrapper{
    /* height: calc(91.5%); */
    height: 100%;
}
.jp-pause{
    display: none;
}
.jp-stop{
    display: none;
}
.jp-play{
    line-height: 63.23px !important;
    /* position: relative;
    top: 50%;
    transform: translate(0,-50%); */
}

.jp-audio .jp-progress .jp-seek-bar .jp-play-bar{
    background-color: #53360c !important;
}

.prev-next{
    width: 19px;
    margin: 0 23px;
}
#soura{
    display: none;
}
#audio-box{
    display: none;
}

#tafsir-text{
    text-align: right;
    font-size: 1.15em;
}

#soura-title{
    text-align: center;
    background-color: #283140;
    border-radius: 15px;
    width: fit-content;
    padding: 0 20px;
    min-width: 190px;
    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0); */
    
}

#soura-title p{
  font-size: 2.3em;
  font-weight: 700;
  margin: 10px 0;
  color: white;
}
body, html{
    background-color: #455265;
}
#tafsir{
background-color: #283140;
color: white;
padding: 5px 15px;
border-radius: 15px;
width: 80%;
}
#tafsir-text{
    margin: 0 !important;
}
#tafsir-text h4{
    margin:15px 0 ;
}
#wrapper{
    /* margin: 10px; */
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    padding: 15px;
}
body, html{
    overflow-x: hidden;

}