#msg-div {
  position: fixed;
  display: none;
  bottom: 10px;
  right: 10px;
  background-color: skyblue;
  color: #000;
  width: 40%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  text-align: center;
  text-justify: center;
  display: flex;
  transform: translateX(150%);
  animation: showStartMSG 7s;
}

@keyframes showStartMSG {
 0%,100%{ 
    transform: translateX(150%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(0%);
  }
}